{%extends "base_admin.html" %}

{% set title=_("Dashboard_admin") %}

{% block title %}
MOVit GAME
{% endblock %}

{% block subtitle %}
{{_('Menú administrador')}}
<hr>
{% endblock %}

{% block content %}
  <div class="p-4 text-justify">
     <p>{{_('¡Bienvenido al menú para el administrador!')}}</p>
     <p>{{_('Si quieres ver a los jugadores registrados en MOVit Game, puedes ir a la pestaña de jugadores. Si prefieres ver la información de un jugador en concreto, dirígete a la ventana de búsqueda')}}</p>
     <p>{{_('También puedes ir a la pestaña registro para dar de alta o baja de un nuevo jugador o terapeuta')}}</p>
     <p>{{_('¡El equipo de MOVit GAME te desea que tengas una buena experiencia!')}}</p>
  </div>
{% endblock %}
