<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MOVit GAME</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename='vendor/bootstrap/vendor/bootstrap/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/bootstrap/vendor/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='vendor/bootstrap/vendor/bootstrap/css/clean-blog.min.css')}}" rel="stylesheet">

  <style> p.ex1 {margin-left: 40px;font-size: 17px;}</style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">MOVit GAME</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        {{_('Menú')}}
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="ranking">{{_('Ranking')}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dashboard_terap">{{_('Iniciar sesión')}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="fites">{{_('Descarga')}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="info">{{_('Información')}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">{{_('Contacto')}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="idioma">{{_('Idioma')}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/fons_8.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>  {% block title %}
                  <!-- page title-->
                  {% endblock %}
            </h1>
            <span class="subheading">{% block subtitle %}
                  <!-- page subtitle-->
                  {% endblock %}</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
      {% block content %}
      <!-- page content -->
      {% endblock %}
        </div>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer>
   <hr>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <!-- Icones, de facebook... -->
          <!-- <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul> -->

          <!-- Nous LOGOS -->
          <ul class="list-inline text-center">
            <!-- LOGO CREB  -->
            <li class="list-inline-item">
             <span class="fa-stack fa-lg">
              <a href="https://creb.upc.edu/ca">
                <img src='../static/img/creb_logo.png' title="CREB" name="creb" height='65' width='65' align="left">
              </a>
             </span>
            </li>
	<!-- LOGO CSIC-UPC  -->
            <li class="list-inline-item">
             <span class="fa-stack fa-lg">
              <a href="https://www.iri.upc.edu/">
                <img src='../static/img/logo_iri.png' title="CSIC-UPC" name="CSIC-UPC" height='65' width='65' align="left">
              </a>
             </span>
            </li>
	<!-- SANT JOAN DE DEU  -->
            <li class="list-inline-item">
             <span class="fa-stack fa-lg">
              <a href="https://www.sjdhospitalbarcelona.org/es">
                <img src='../static/img/logo_SJD.png' title="SANT JOAN DE DEU" name="SANT JOAN DE DEU" height='65' width='65' align="left">
              </a>
             </span>
            </li>
            <!-- LOGO DUCHENNE PARENT PROJECT  -->
            <li class="list-inline-item">
              <span class="fa-stack fa-lg">
               <a href="https://www.duchenne-spain.org/">
                 <img src='../static/img/Duchenne_Parent_Project.png' title="DUCHENNE PARENT PROJECT" name="duchenne parent project"  height='72' width='72' align="left" >
               </a>
              </span>
            </li>
          </ul>

          <!-- <p class="copyright text-muted"> Copyright &copy; MOVit 2020</p>-->
	 <p class="copyright text-muted">MOVit 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript MODIFICAT AMB 2N JQUERY-->
  <script src="static/vendor/bootstrap/vendor/bootstrap/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/vendor/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/vendor/bootstrap/vendor/bootstrap/js/clean-blog.min.js"></script>

</body>

</html>
