{%extends "base.html" %}

{% set title=_("Dashboard") %}

{% block title %}
MOVit GAME
{% endblock %}

{% block subtitle %}
{{_('Página web oficial del juego MOVit GAME')}}
<hr>
{% endblock %}

{% block content %}
  <div class="p-4 text-justify">
     <p>{{_('¡Bienvenidos a la página web oficial del juego MOVit GAME!
Esta página permite a cualquier jugador descubrir que es MOVit GAME y las organizaciones y personas que se encuentran detrás de este gran proyecto.')}}</p>
     <p>{{_('Si tienes un cuenta creada en el juego, te puede interesar ver en que posición del ranking mundial te encuentras.')}}{{_('También puedes descargar los QR que usarás en tu siguiente partida en la pestaña de descarga.')}}</p>
     <p>{{_('Si tienes un cuenta creada como terapeuta, puedes acceder a tu menú en la parte superior de la página web.')}}</p>
     <p>{{_('Para cualquier duda o aclaración que necesites, no dudes en contactar con nosotros.
             Toda la información para ello, la podrás encontrar en la ventana de contacto.')}}</p>
     <p>{{_('¡El equipo de MOVit GAME te desea que tengas una buena experiencia! ')}}</p>
  </div>
{% endblock %}
