{%extends "base.html" %}

{% set title=_("descarga") %}

{% block title %}
{{_('Descarga de QR')}}
{% endblock %}

{% block content %}

<style>
body

* {
  box-sizing: border-box;
}


/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
  background-color: #ddd;
  outline: none;
}


/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}


/* Full-width input fields */
textarea[type=text1]{
  vertical-align: top;
  width: 100%;
  height: 150px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border-radius: 4px;
  border: none;
  background: #f1f1f1;
  resize: none;
  rows:5;
}

textarea[type=text1]:focus{
  background-color: #ddd;
  outline: none;
}

</style>




<body>
<form action="/QR_download" method="POST">
  <div class="container">
    <p>{{_('Por favor, introduce tu usuario y contraseña para poder continuar con la descarga:')}}</p>
    <hr>
    <label for="usuari"><b>{{_('Usuario')}}</b></label>
    <input type="text" name="usuari" required>

    <label for="password"><b>{{_('Contraseña')}}</b></label>
    <input type="password" name="password"  required>

    <hr>

   <center> <button type="submit" class="btn btn-primary">{{_('Descarga de QR')}}</button> </center>
  </div>


</form>




{% endblock %}
